* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
  min-height: 100vh;
}

header {
  text-align: center;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
}
